body {
    background-image: linear-gradient(rgba(34, 34, 34, 0.603), rgba(34, 34, 34, 0.603)), url('pozadina.jpg');
    background-size: cover;
    background-color: black;
}



/* .forma-pozadina {
    background-color: white;
    padding: 20px;
    border: 1px solid black;
} */
#porukaJSsNaziv {
    color: red;
}

#porukaJsGodina {
    color: red;
}

#porukaJsGlumci {
    color: red;
}